.product-details {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-details__container {
    display: flex;
    flex-direction: column;
}

.product-details__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid var(--tb-color-border-dark);
}

.product__info-container .product-details {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product__info-container .product-details__container {
    display: flex;
    flex-direction: column;
}

.product__info-container .product-details__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid var(--tb-color-border-dark);
}